@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&family=Inter&family=Raleway:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.hero-index {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

main {
  grid-area: main; }
  main .section-principal {
    width: 95%;
    margin: auto;
    padding-top: 20px;
    /* padding-left: 25px; */ }
  main h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    text-transform: uppercase; }
  main p {
    font-family: 'Inter', sans-serif;
    font-size: 14px; }
  main .parrafo {
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    padding-top: 20px; }
  main .imagen2, main .imagen3, main .imagen4, main .imagen5 {
    box-shadow: 4px 5px 6px 7px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: 10px;
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
  main .img2 {
    text-align: center;
    object-fit: contain; }
  main .img3 {
    text-align: center; }
  main .img4 {
    text-align: center; }
  main .img5 {
    text-align: center; }
  main div {
    padding-bottom: 20px; }

main .hero-arquitectura {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

main h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  flex-flow: row wrap;
  text-transform: uppercase;
  font-size: 15px; }

main h3 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  flex-flow: row wrap;
  font-size: 15px; }

:root {
  --colorTextos: #49454567; }

.hero-contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
  width: 100%;
  height: 100vh; }

.contacto {
  padding-top: 100px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/casa11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

form {
  background: #fff;
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-color: black;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both; }

.form {
  width: 100%;
  margin: auto; }

form .grupo {
  position: relative;
  margin: 45px; }

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none; }

input:focus,
textarea:focus {
  outline: none;
  color: #5e5d5d; }

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #2196F3; }

label {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none; }

input:focus ~ .barra::before,
textarea:focus ~ .barra::before {
  width: 100%; }

.barra {
  position: relative;
  display: block;
  width: 100%; }

.barra::before {
  content: '';
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #849dff, #7e7b7c);
  transition: 0.3s ease all;
  left: 0%; }

.button-contacto {
  background: #849dff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #849dff, #7e7b7c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #849dff, #7e7b7c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer; }

@media screen and (max-width: 1100px) {
  form {
    width: 50%; } }

@media screen and (max-width: 600px) {
  form {
    width: 60%; } }

@media screen and (max-width: 450px) {
  form {
    width: 80%; } }

@media screen and (max-width: 300px) {
  form {
    width: 90%; } }

.hero-nosotros {
  width: 100%;
  height: 130vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

.index-nosotros {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "titulo" "nosotros1" "nosotros2"; }

.nosotros {
  grid-area: titulo;
  text-align: center;
  padding-top: 20px; }

.nosotros1 {
  grid-area: nosotros1;
  gap: 20px; }

.nosotros2 {
  grid-area: nosotros2; }

.mujer {
  display: flex;
  width: 250px;
  text-align: center;
  margin: auto; }

.hombre {
  width: 250px;
  margin: auto; }

.biografia {
  display: flex;
  text-align: center;
  width: 95%; }

.arquitecto {
  padding-top: 20px; }

.proyectos {
  width: 250px;
  height: 200px;
  text-align: center;
  border-radius: 15px;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.card1 {
  text-align: center;
  margin: 0;
  padding: 0; }

.card2 {
  text-align: center;
  margin: 0;
  padding: 0; }

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

.proyectos:hover {
  box-shadow: 5px 6px 7px 8px black;
  filter: brightness(20%); }

a {
  text-decoration: none; }

.name-casa-lucerna {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.name-casa-js {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.name-casa-op {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.name-casa-rider {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.name-casa-carilo {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.name-casa-campo {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.card-individual {
  height: 215px; }

.hero-casa-lucerna {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

body .main-casa-lucerna {
  grid-area: main;
  background-image: url(../../assets/img/casa_lucerna14.jpg);
  background-position: center;
  background-size: cover; }

.background {
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover; }

.titulo-casas {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 220px;
  margin: auto;
  color: white;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.5);
  top: 20px;
  margin-bottom: 40px; }

.imagenes-casas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0; }

.imagen-casas {
  text-align: center; }

.img-casas {
  border-radius: 15px;
  width: 300px;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.5); }

.texto-casas {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 90%;
  margin: auto;
  text-align: justify; }

.texto-descripcion {
  text-align: justify;
  padding: 10px 20px 0px 20px;
  color: white;
  margin: auto; }

.hero-casa-JS {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

body .main-casa-JS {
  grid-area: main;
  background-image: url(../../assets/img/casa-js2.jpg);
  background-position: center;
  background-size: cover; }

.hero-casa-OP {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

body .main-casa-OP {
  grid-area: main;
  background-image: url(../../assets/img/casa-op3.jpg);
  background-position: center;
  background-size: cover; }

.hero-casa-rider {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

body .main-casa-rider {
  grid-area: main;
  background-image: url(../../assets/img/casa-rider-bg.jpg);
  background-position: center;
  background-size: cover; }

.hero-casa-carilo {
  width: 100%;
  height: 100vh;
  display: grid;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

body .main-casa-carilo {
  grid-area: main;
  background-image: url(../../assets/img/casa-carilo-bg.jpg);
  background-position: center;
  background-size: cover; }

.hero-casa-campo {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

body .main-casa-campo {
  grid-area: main;
  background-image: url(../../assets/img/casa-campo1.jpg);
  background-position: center;
  background-size: cover; }

header {
  grid-area: header;
  width: 100%;
  background-color: #BDCDD6; }
  header nav .navbar2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
    header nav .navbar2 a {
      text-decoration: none;
      color: black;
      font-weight: bold; }
    header nav .navbar2 a:hover {
      font-size: 20px;
      color: white;
      text-shadow: 2px 4px 5px black; }
    header nav .navbar2 img {
      width: 200px; }
    header nav .navbar2 img:hover {
      width: 250px; }
  header nav div div {
    display: flex;
    align-items: center;
    flex-direction: column; }

footer {
  display: flex;
  position: static;
  margin-bottom: 0;
  grid-area: footer;
  background-color: #8b8b8b;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-top: 20px;
  padding-bottom: 0px;
  bottom: 0;
  color: black;
  font-weight: bold; }
  footer .logo-cp {
    width: 0%;
    position: relative;
    left: 25px; }
  footer .facebook {
    width: 25px;
    position: relative;
    left: 61px;
    top: 15px; }
  footer .instagram {
    width: 25px;
    position: relative;
    left: 46px;
    top: 35px; }
  footer .whatsapp {
    width: 25px;
    position: relative;
    left: 32px;
    top: 55px; }
  footer .telefono {
    width: 25px;
    position: relative;
    top: 20px;
    left: 20px; }
  footer .correo {
    width: 25px;
    position: relative;
    top: 58px;
    left: -7px; }
  footer .ubicacion {
    width: 25px;
    position: relative;
    top: 100px;
    left: -37px; }
  footer .textofooter {
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 55px;
    top: 0px;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase; }

@media (min-width: 768px) {
  header .navbar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 16PX; }
  header nav div .logo {
    width: 300px; }
  header nav div .logo:hover {
    width: 350px; }
  .main-index {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 275px auto auto;
    grid-template-areas: "texto texto" "img2 img3" "img4 img5"; }
  main .section-principal {
    grid-area: texto; }
  main div .img2 {
    grid-area: img2; }
  main div .img3 {
    grid-area: img3; }
  main div .img4 {
    grid-area: img4; }
  main div .img5 {
    grid-area: img5; }
  main div .imagen2, main div .imagen3, main div .imagen4, main div .imagen5 {
    width: 350px;
    height: 250px;
    margin-left: 25px; }
  main div .imagen3 {
    width: 350px;
    height: 250px;
    margin-left: 15px; }
  main div .imagen4 {
    width: 350px;
    height: 250px;
    margin-left: 25px; }
  main div .imagen5 {
    width: 350px;
    height: 250px;
    margin-left: 15px; }
  footer section .facebook {
    width: 35px;
    position: relative;
    left: 110px;
    top: 33px; }
  footer section .facebook:hover {
    width: 40px; }
  footer section .instagram {
    width: 35px;
    position: relative;
    left: 131px;
    top: 33px; }
  footer section .instagram:hover {
    width: 40px; }
  footer section .whatsapp {
    width: 35px;
    position: relative;
    left: 152px;
    top: 33px; }
  footer section .whatsapp:hover {
    width: 40px; }
  footer section .telefono {
    top: 25px;
    left: 100px; }
  footer section .correo {
    top: 68px;
    left: 73px; }
  footer section .ubicacion {
    top: 110px;
    left: 43px; }
  footer section .textofooter {
    left: 150px;
    top: 5px;
    font-size: 14px;
    line-height: 25px; }
  .titulo-casas {
    width: 270px; }
  .img-casas {
    width: 400px; }
  .texto-casas {
    font-size: 20px; } }

@media (min-width: 1024px) {
  header .navbar2 {
    font-size: 16px; }
  header nav div div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 70px;
    justify-content: space-around;
    align-items: center; }
  main div .imagen2, main div .imagen3, main div .imagen4, main div .imagen5 {
    width: 450px;
    height: 300px;
    margin-left: 25px; }
  main div .imagen3 {
    width: 450px;
    height: 300px;
    margin-left: -15px; }
  main div .imagen4 {
    width: 450px;
    height: 300px;
    margin-left: 25px; }
  main div .imagen5 {
    width: 450px;
    height: 300px;
    margin-left: -15px; }
  footer section .facebook {
    left: 221px;
    top: 33px; }
  footer section .instagram {
    left: 242px;
    top: 33px; }
  footer section .whatsapp {
    left: 263px;
    top: 33px; }
  footer section .telefono {
    top: 25px;
    left: 130px; }
  footer section .correo {
    top: 68px;
    left: 103px; }
  footer section .ubicacion {
    top: 110px;
    left: 73px; }
  footer section .textofooter {
    left: 200px;
    top: 5px; }
  main section .proyectos {
    width: 300px;
    height: 250px;
    margin: 20px; }
  main section .card1 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: auto;
    align-items: center;
    justify-content: center; }
  main section .card2 {
    display: flex;
    gap: 0px;
    margin: auto;
    align-items: center;
    justify-content: center; }
  main section .name-casa-lucerna {
    font-size: 20px;
    width: 170px;
    top: -250px;
    visibility: hidden; }
  main section .name-casa-js {
    font-size: 20px;
    width: 170px;
    top: -250px;
    visibility: hidden; }
  main section .name-casa-op {
    font-size: 20px;
    width: 170px;
    top: -250px;
    visibility: hidden; }
  main section .name-casa-rider {
    font-size: 20px;
    width: 170px;
    top: -250px;
    visibility: hidden; }
  main section .name-casa-carilo {
    font-size: 20px;
    width: 170px;
    top: -250px;
    visibility: hidden; }
  main section .name-casa-campo {
    font-size: 20px;
    width: 170px;
    top: -250px;
    visibility: hidden; }
  main section a:hover .name-casa-lucerna {
    visibility: visible; }
  main section a:hover .name-casa-js {
    visibility: visible; }
  main section a:hover .name-casa-op {
    visibility: visible; }
  main section a:hover .name-casa-rider {
    visibility: visible; }
  main section a:hover .name-casa-carilo {
    visibility: visible; }
  main section a:hover .name-casa-campo {
    visibility: visible; }
  main section .card-individual {
    height: 275px; }
  main .nosotros1 {
    display: flex;
    flex-direction: row; }
  main .nosotros2 {
    display: flex;
    flex-direction: row; }
  .titulo-casas {
    width: 290px; }
  .imagenes-casas {
    flex-direction: row;
    gap: 20px; }
  .img-casas {
    width: 450px; }
  .texto-casas {
    font-size: 25px; } }

@media (min-width: 1440px) {
  main h1 {
    font-size: 50px; }
  main .parrafo {
    font-size: 20px; }
  main div .imagen2, main div .imagen3, main div .imagen4, main div .imagen5 {
    width: 600px;
    height: 450px; }
  main div .imagen3 {
    width: 600px;
    height: 450px; }
  main div .imagen4 {
    width: 600px;
    height: 450px; }
  main div .imagen5 {
    width: 600px;
    height: 450px; }
  footer section .facebook {
    width: 45px;
    left: 351px;
    top: 20px; }
  footer section .facebook:hover {
    width: 50px; }
  footer section .instagram {
    width: 45px;
    left: 371px;
    top: 20px; }
  footer section .instagram:hover {
    width: 50px; }
  footer section .whatsapp {
    width: 45px;
    left: 391px;
    top: 20px; }
  footer section .whatsapp:hover {
    width: 50px; }
  footer section .logo-cp {
    width: 150px;
    left: 250px;
    top: 30px; }
  footer section .logo-cp:hover {
    width: 175px; }
  main .nosotros1 {
    display: flex;
    flex-direction: row; }
  main .nosotros2 {
    display: flex;
    flex-direction: row; }
  main section .proyectos {
    width: 400px;
    height: 350px; }
  main section .name-casa-lucerna {
    font-size: 30px;
    width: 250px;
    top: -330px; }
  main section .name-casa-js {
    font-size: 30px;
    width: 250px;
    top: -330px; }
  main section .name-casa-op {
    font-size: 30px;
    width: 250px;
    top: -330px; }
  main section .name-casa-rider {
    font-size: 30px;
    width: 250px;
    top: -330px; }
  main section .name-casa-carilo {
    font-size: 30px;
    width: 250px;
    top: -330px; }
  main section .name-casa-campo {
    font-size: 30px;
    width: 250px;
    top: -330px; }
  main section .card-individual {
    height: 375px; }
  main h2 {
    font-size: 40px; }
  main h3 {
    font-size: 30px; }
  main section div .arquitectura {
    font-size: 20px; }
  .img-casas {
    width: 550px; }
  .titulo-casas {
    width: 400px; }
  .texto-casas {
    width: 75%; } }

@media (min-width: 2560px) {
  main h1 {
    font-size: 80px; }
  main h2 {
    font-size: 65px; }
  main h3 {
    font-size: 50px; }
  main .arquitectura {
    font-size: 40px; }
  header .navbar2 {
    font-size: 22px; }
    header .navbar2 li a:hover {
      font-size: 26px; }
  main .parrafo {
    font-size: 40px; }
  .main-index {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px auto auto;
    grid-template-areas: "texto texto" "img2 img3" "img4 img5"; }
  main div .imagen2, main div .imagen3, main div .imagen4, main div .imagen5 {
    width: 1200px;
    height: 1000px; }
  main div .imagen3 {
    width: 1200px;
    height: 1000px; }
  main div .imagen4 {
    width: 1200px;
    height: 1000px; }
  main div .imagen5 {
    width: 1200px;
    height: 1000px; }
  footer section .facebook {
    width: 75px;
    left: 751px;
    top: 10px; }
  footer section .instagram {
    width: 75px;
    left: 771px;
    top: 10px; }
  footer section .whatsapp {
    width: 75px;
    left: 791px;
    top: 10px; }
  footer section .logo-cp {
    width: 200px;
    left: 630px;
    top: 10px; }
  footer section .textofooter {
    left: 200px;
    top: -3px;
    font-size: 20px; }
  footer section .telefono {
    width: 35px;
    top: 25px;
    left: 130px; }
  footer section .correo {
    width: 35px;
    top: 68px;
    left: 95px; }
  footer section .ubicacion {
    width: 35px;
    top: 110px;
    left: 50px; }
  main section div .mujer {
    width: 500px; }
  main section div .hombre {
    width: 500px; }
  main section div .arquitecto {
    font-size: 30px; }
  main section div .biografia {
    font-size: 25px; }
  main .nosotros1 {
    gap: 150px; }
  main .nosotros2 {
    gap: 150px; }
  main section .proyectos {
    width: 700px;
    height: 650px; }
  main section .card-individual {
    height: 675px; }
  main section .name-casa-lucerna {
    font-size: 50px;
    width: 400px;
    top: -630px; }
  main section .name-casa-js {
    font-size: 50px;
    width: 400px;
    top: -630px; }
  main section .name-casa-op {
    font-size: 50px;
    width: 400px;
    top: -630px; }
  main section .name-casa-rider {
    font-size: 50px;
    width: 400px;
    top: -630px; }
  main section .name-casa-carilo {
    font-size: 50px;
    width: 400px;
    top: -630px; }
  main section .name-casa-campo {
    font-size: 50px;
    width: 400px;
    top: -630px; }
  .img-casas {
    width: 950px; }
  .titulo-casas {
    width: 800px; }
  .texto-casas {
    font-size: 45px; } }
