* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&family=Inter&family=Raleway:wght@100&display=swap');

.hero-index {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
header {
    grid-area: header;
    width: 100%;
    background-color: #BDCDD6;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    width: 350px;
}

main {
    grid-area: main;
}

.section-principal {
    width: 95%;
    margin: auto;
    padding-top: 20px;
    /* padding-left: 25px; */

}

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    text-transform: uppercase;
}

h2{
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    text-transform: uppercase;
    font-size: 15px;
}

h3{
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    font-size: 15px;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.parrafo {
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    padding-top: 20px;

}

.imagen2 {
    width: 300px;
    padding-top: 20px;
}

.imagen3 {
    width: 300px;
    padding-top: 20px;
}

.imagen4 {
    width: 300px;
    padding-top: 20px;
}

.imagen5 {
    width: 300px;
    padding-top: 20px;
}

.img2 {
    text-align: center;
}

.img3 {
    text-align: center;
}

.img4 {
    text-align: center;
}

.img5 {
    text-align: center;
}

footer {
    display: flex;
    position: static;
    margin-bottom: 0;
    grid-area: footer;
    background-color: #8b8b8b;
    height: 150px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    padding-bottom: 0px;
    bottom: 0;
    color: black;

}

.logo-cp{
    width: 0%;
    position: relative;
    left: 25px;
}
.facebook {
    width: 25px;
    position: relative;
    left: 61px;
    top: 15px;
}

.instagram {
    width: 25px;
    position: relative;
    left: 46px;
    top: 35px;
}

.whatsapp {
    width: 25px;
    position: relative;
    left: 32px;
    top: 55px
}

.telefono {
    width: 25px;
    position: relative;
    top: 20px;
    left: 20px;
}

.correo {
    width: 25px;
    position: relative;
    top: 58px;
    left: -7px;

}

.ubicacion {
    width: 25px;
    position: relative;
    top: 100px;
    left: -37px;
}

.textofooter {
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 55px;
    top: 0px;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase;
}


.hero-arquitectura{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.hero-contacto{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    .contacto{
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .consulta{
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        /* gap: 30px; */
        text-align: center;
        width: 300px;
        margin: auto;
        padding-bottom: 40px;
        text-transform: uppercase;
    }

    .texto{
        height: 200px;
        text-align:initial;
    }

    .boton1{
        /* display: flex;
        flex-direction: row; */
        text-align: center;
        align-items: center;
        margin: auto;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding-bottom: 10px;
        
    }

    .boton2{
        text-align: center;
        align-items: center;
        margin: auto;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        
    }

@media(min-width:768px) {

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 14PX;
    }

    .main-index {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 275px auto auto;
        grid-template-areas:
            "texto texto"
            "img2 img3"
            "img4 img5"
        ;
    }

    .section-principal {
        grid-area: texto;
    }

    .img2 {
        grid-area: img2;
    }

    .img3 {
        grid-area: img3;
    }

    .img4 {
        grid-area: img4;
    }

    .img5 {
        grid-area: img5;
    }

    .imagen2 {
        width: 350px;
        height: 250px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen3 {
        width: 350px;
        height: 250px;
        margin-left: 15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen4 {
        width: 350px;
        height: 250px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen5 {
        width: 350px;
        height: 250px;
        margin-left: 15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .facebook {
        width: 35px;
        position: relative;
        left: 110px;
        top: 33px;
    }

    .instagram {
        width: 35px;
        position: relative;
        left: 131px;
        top: 33px;
    }

    .whatsapp {
        width: 35px;
        position: relative;
        left: 152px;
        top: 33px
    }

    .telefono {

        top: 25px;
        left: 100px;
    }

    .correo {

        top: 68px;
        left: 73px;

    }

    .ubicacion {

        top: 110px;
        left: 43px;
    }

    .textofooter {
        left: 150px;
        top: 5px;
        font-size: 14px;
        line-height: 25px;
    }
}

@media(min-width:1024px) {

    .navbar {
        font-size: 16px;
    }

    .imagen2 {
        width: 450px;
        height: 300px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen3 {
        width: 450px;
        height: 300px;
        margin-left: -15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen4 {
        width: 450px;
        height: 300px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen5 {
        width: 450px;
        height: 300px;
        margin-left: -15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .facebook {
        left: 200px;
        top: 33px;
    }

    .instagram {
        left: 221px;
        top: 33px;
    }

    .whatsapp {
        left: 242px;
        top: 33px
    }

    .telefono {
        top: 25px;
        left: 130px;
    }

    .correo {
        top: 68px;
        left: 103px;

    }

    .ubicacion {
        top: 110px;
        left: 73px;
    }

    .textofooter {
        left: 200px;
        top: 5px;
    }
}

@media(min-width:1440px) {
    h1 {
        font-size: 50px;
    }

    .parrafo {
        font-size: 20px;
    }

    .imagen2 {
        width: 600px;
        height: 450px;
    }

    .imagen3 {
        width: 600px;
        height: 450px;
    }

    .imagen4 {
        width: 600px;
        height: 450px;
    }

    .imagen5 {
        width: 600px;
        height: 450px;
    }
    .facebook{
        width: 45px;
        left: 351px;
        top: 20px;
    }

    .instagram{
        width: 45px;
        left: 371px;
        top: 20px;
    }
    .whatsapp{
        width: 45px;
        left: 391px;
        top: 20px;
    }
    
    .logo-cp{
        width: 150px;
        left: 250px;
        top: 30px;
    }
}

@media(min-width:2560px){
    h1 {
        font-size: 80px;
    }

    .navbar {
        font-size: 20px;
    }

    .parrafo {
        font-size: 40px;
    }

    .main-index {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px auto auto;
        grid-template-areas:
            "texto texto"
            "img2 img3"
            "img4 img5"
        ;
    }

    .imagen2 {
        width: 1200px;
        height: 1000px;
    }

    .imagen3 {
        width: 1200px;
        height: 1000px;
    }

    .imagen4 {
        width: 1200px;
        height: 1000px;
    }

    .imagen5 {
        width: 1200px;
        height: 1000px;
    }

    .facebook{
        width: 55px;
        left: 751px;
        top: 10px;
    }

    .instagram{
        width: 55px;
        left: 771px;
        top: 10px;
    }
    .whatsapp{
        width: 55px;
        left: 791px;
        top: 10px;
    }
    
    .logo-cp{
        width: 200px;
        left: 630px;
        top: 10px;
    }
    .textofooter {
        left: 200px;
        top: -3px;
        font-size: 20px;
    }

    .telefono {
        width: 35px;
        top: 25px;
        left: 130px;
    }

    .correo {
        width: 35px;
        top: 68px;
        left: 95px;

    }

    .ubicacion {
        width: 35px;
        top: 110px;
        left: 50px;
    }
}