* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&family=Inter&family=Raleway:wght@100&display=swap');

.hero-index{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;    
    width: 100%;
    background-color: #BDCDD6;
}

.navbar{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-transform:uppercase;
}

.navbar li a {
    text-decoration: none;
    color: black;    
}
.logo{
    display: flex;
    width: 350px;
}

main{
    grid-area: main;
}

.section-principal{
    width: 95%;
    margin: auto;
    padding-top: 20px;
    /* padding-left: 25px; */
    
}

h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    text-transform:uppercase;
}

.parrafo{
    text-align: center;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    padding-top: 20px;
    
}
.imagen2{
    width: 300px;
    padding-top: 20px;
}

.imagen3{
    width: 300px;
    padding-top: 20px;
}

.imagen4{
    width: 300px;
    padding-top: 20px;
}

.imagen5{
    width: 300px;
    padding-top: 20px;
}

.img2{
    text-align: center;
}
.img3{
    text-align: center;
}

.img4{
    text-align: center;
}

.img5{
    text-align: center;
}

footer{
    display: flex;
    position: static;
    margin-bottom: 0;
    grid-area: footer;
    background-color: #8b8b8b;
    height: 150px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    padding-bottom: 0px;
    bottom: 0;
    color: black;
}

.facebook {
    width: 25px;
    position: relative;
    left: 51px;
    top: 15px;
}

.instagram {
    width: 25px;
    position: relative;
    left: 36px;
    top: 35px;
}

.whatsapp {
    width: 25px;
    position: relative;
    left: 22px;
    top: 55px
}

.telefono {
    width: 25px;
    position: relative;
    top: 30px;
    left: 40px;
}

.correo {
    width: 25px;
    position: relative;
    top: 70px;
    left: 13px;

}

.ubicacion {
    width: 25px;
    position: relative;
    top: 110px;
    left: -17px;
}

.textofooter {
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 75px;
    top: 5px;
    line-height: 25px;
    font-size: 12px;
}



@media(min-width:768px){

    .navbar{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .main-index{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 275px auto auto;
        grid-template-areas: 
        "texto texto"        
        "img2 img3"
        "img4 img5"
        ;
    }

    .section-principal{
        grid-area: texto;
    }

    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }

    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    
    .imagen2{
        width: 350px;
        height: 250px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
    
    .imagen3{
        width: 350px;
        height: 250px;
        margin-left: 15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
    
    .imagen4{
        width: 350px;
        height: 250px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
    
    .imagen5{
        width: 350px;
        height: 250px;
        margin-left: 15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .facebook {
        width: 35px;
        position: relative;
        left: 150px;
        top: 10px;
    }
    
    .instagram {
        width: 35px;
        position: relative;
        left: 131px;
        top: 33px;
    }
    
    .whatsapp {
        width: 35px;
        position: relative;
        left: 112px;
        top: 55px
    }
    
    .telefono {
        width: 25px;
        position: relative;
        top: 25px;
        left: 100px;
    }
    
    .correo {
        width: 25px;
        position: relative;
        top: 68px;
        left: 73px;
    
    }
    
    .ubicacion {
        width: 25px;
        position: relative;
        top: 110px;
        left: 43px;
    }
    
    .textofooter {
        font-family: 'Raleway', sans-serif;
        position: relative;
        left: 150px;
        top: 5px;
        line-height: 25px;
        font-size: 16px;
    }
}

@media(min-width:1024px){

    .navbar{
        display: flex;
        flex-direction: row;
    }

    .imagen2{
        width: 450px;
        height: 300px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
    
    .imagen3{
        width: 450px;
        height: 300px;
        margin-left: -15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
    
    .imagen4{
        width: 450px;
        height: 300px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
    
    .imagen5{
        width: 450px;
        height: 300px;
        margin-left: -15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

.facebook {
    left: 150px;
    top: 10px;
}

.instagram {
    left: 131px;
    top: 33px;
}

.whatsapp {
    left: 112px;
    top: 55px
}

.telefono {
    top: 25px;
    left: 100px;
}

.correo {
    top: 68px;
    left: 73px;

}

.ubicacion {
    top: 110px;
    left: 43px;
}

.textofooter {
    left: 150px;
    top: 5px;
}
}