@media(min-width:1440px) {
    h1 {
        font-size: 50px;
    }

    .parrafo {
        font-size: 20px;
    }

    .imagen2 {
        width: 600px;
        height: 450px;
    }

    .imagen3 {
        width: 600px;
        height: 450px;
    }

    .imagen4 {
        width: 600px;
        height: 450px;
    }

    .imagen5 {
        width: 600px;
        height: 450px;
    }
    .facebook{
        width: 45px;
        left: 351px;
        top: 20px;
    }

    .instagram{
        width: 45px;
        left: 371px;
        top: 20px;
    }
    .whatsapp{
        width: 45px;
        left: 391px;
        top: 20px;
    }
    
    .logo-cp{
        width: 150px;
        left: 250px;
        top: 30px;
    }

    .nosotros1{
        display: flex;
        flex-direction: row;
    }
        .nosotros2{
            display: flex;
        flex-direction: row;
    }

    .proyectos {
        width: 400px;
        height: 350px;
        padding-top: 20px;
        
        
    }
    h2{
        font-size: 40px;
    }

    h3{
        font-size: 30px;
    }

    .arquitectura{
        font-size: 20px;
    }
}