@media(min-width:1024px) {
    header{
    .navbar {
        font-size: 16px;
    }
}
main{
    div{
    .imagen2 {
        width: 450px;
        height: 300px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen3 {
        width: 450px;
        height: 300px;
        margin-left: -15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen4 {
        width: 450px;
        height: 300px;
        margin-left: 25px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }

    .imagen5 {
        width: 450px;
        height: 300px;
        margin-left: -15px;
        /* margin-left: 50px;
        padding-top: 20px; */
    }
}
}
footer{
    section{
    .facebook {
        left: 221px;
        top: 33px;
    }

    .instagram {
        left: 242px;
        top: 33px;
    }

    .whatsapp {
        left: 263px;
        top: 33px
    }

    
    .telefono {
        top: 25px;
        left: 130px;
    }

    .correo {
        top: 68px;
        left: 103px;

    }

    
    .ubicacion {
        top: 110px;
        left: 73px;
    }

    .textofooter {
        left: 200px;
        top: 5px;
    }
    }
}
main{
    section{
    .proyectos {
        width: 300px;
        height: 250px;
        padding-top: 20px;
        
        
    }
    .proyectos:hover{
        width: 350px;
        height: 300px;
    }

    .card1{
        display: flex;
        gap: 50px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    .card2{
        display: flex;
        gap: 50px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}
}
    main{
    .nosotros1{
        display: flex;
        flex-direction: row;
    }
        .nosotros2{
            display: flex;
        flex-direction: row;
    }
}}