header {
    grid-area: header;
    width: 100%;
    background-color: #BDCDD6;
    
    nav{.navbar2 {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        a:hover{
            font-size: 20px;
            color: white;
            text-shadow: 2px 4px 5px black;
        }

        img{
            width: 200px;
        }

        img:hover{
            width: 250px;
        }
    }
    }
    nav{
        div{
            div{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

// .logo {
//     display: flex;
//     width: 300px;
// }


