.hero-contacto{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.contacto{
    padding-top: 100px;
    padding-bottom: 40px;
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}
.consulta{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    /* gap: 30px; */
    text-align: center;
    width: 300px;
    margin: auto;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.texto{
    height: 200px;
    text-align:initial;
    border-radius: 15px;
    -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}
@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
.texto:hover{
    box-shadow: 5px 8px 10px black;
}

.texto2{
    height: 30px;
    border-radius: 15px;
    -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

span{
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}

.texto2:hover{
    box-shadow: 5px 8px 10px black;
}

.boton1{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    
}

.boton2{
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    
}