.hero-nosotros{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.index-nosotros{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo"
    "nosotros1"
    "nosotros2"
    ;
}

.nosotros{
    grid-area: titulo;
    text-align: center;
    padding-top: 20px;
}

.nosotros1{
    grid-area: nosotros1;
}

.nosotros2{
    grid-area: nosotros2;
}
.mujer{
    display: flex;
    width: 250px;
    text-align: center;
    margin: auto;
}

.hombre{
    width: 250px;
    margin: auto;
}

.biografia{
    display: flex;
    text-align: center;
    width: 95%;
}

.arquitecto{
    padding-top: 20px;
        }